@model MyReservations.Models.Attraction

@{
    ViewData["Title"] = "Edit Attraction";
}

<style>
    .form-control {
        margin-top: 50px;
        color: black;
        font-weight: bold; 
    }

    label.control-label {
        margin-top: 50px;
        color: white;
        font-weight: bold; 
    }

    .title-font {
        margin-top: 50px;
        color: white;
        font-weight: bold;
    }

    
    .image-box {
        padding: 10px;
        width: 200px; 
        height: auto; 
    }

    .image {
        max-width: 100%; 
        height: auto; 
    }

    .custom-image-box {
        padding: 10px;
        width: 200px;
        height: auto; 
    }

    .custom-image {
        max-width: 100%; 
        height: auto;
    }
</style>

<h1 class="title-font">@ViewData["Title"]</h1>

@using (Html.BeginForm("Edit", "Attraction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group title-font">
        @Html.LabelFor(m => m.AttractionsName, null, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.AttractionsName, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AttractionsName)
    </div>

    <div class="custom-image-box">
        @Html.Partial("ImageUploadPartial", Model.AttractionsImages)
    </div>

    <div class="form-group title-font">
        @Html.TextBox("AttractionPictures", null, new { type = "file" })
    </div>

    <input value="Save Changes" type="submit" class="btn btn-primary form-control" />

}
