@{
    ViewData["Title"] = "PICK YOUR FAVORITE";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/ReservationTypes.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('https://www.localsyr.com/wp-content/uploads/sites/63/2023/11/GettyImages-1411971240.jpg?w=2560&h=1440&crop=1');
            background-size: cover;
            background-position: center;
        }

        .card:hover .img__description {
            border: 1px solid black;
            padding: 5px;
            background-color: indianred;
            border-radius: 5px;
            margin: 0 30px;
            bottom: auto;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }

        .create-button{
            margin-top: 50px;
            margin-right: -1700px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="text-subtitle-restaurants title-box-restaurants">
        <h1 class="display-4">RESTAURANTS</h1>
        <p>@ViewData["Title"]</p>
    </div>
    <div class="container" style="margin-top:100px">
    
            <a href="@Url.Action("Create", "Restaurant")" class="create-button">
                <i class="bi bi-plus-square"></i>
            </a>

        <div class="row">
            @foreach (var res in Model)
            {
                <div class="col-sm-4 mt-3">
                    <div class="card">
                      <a href="@Url.Action("Detail", "Restaurant", new { id = res.RestaurantId })">
                            <img src="@res.RestaurantImages" class="card-img-top test2" alt="..." />
                            <p class="img__description text-center-restaurants">Reserve Now</p>
                        </a>
                        <p class="text-center-restaurants">@res.RestaurantName</p>
                    </div>
                </div>
            }
        </div>

    </div>


</body>
</html>
